@font-face {
    font-family:pompadur;
    src: url(../fonts/Pompadur.ttf);
}
* { box-sizing: border-box; }

.border {
    border: 1px solid black;
}
P {
    font-family: Pompadur;
}


body {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}
/*-----------------------------------------------header ----------------------*/
header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;



}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.itam {
    padding:10px;
}
.menu a {
    text-decoration: none;
}
.logo p::first-letter {
    color: red;
    font-size: 130%;
}
/*-----------------------------------------------header end----------------------*/
.wrapper {

    margin-top: 110px;
}
.container {


    display: flex;
    flex-direction: row;/*направление оси*/
    justify-content: space-between;
   /* flex-wrap: wrap;*/
    height: 500px;


}
.left-box {
    align-self: stretch;
    width: 20%;
}
.right-box {
    align-self: stretch;
    width: 20%;
}
.content-box {
/*    align-self: stretch;*/
    width: 100%;
    margin: 0 20px;
}


/*--------------------------------footer-----------------------------------*/
footer {
    min-height: 100px;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
}
.test::after{
    content:"н";
    color:blue;
}

/*--------------------------------footer end-----------------------------------*/
