.border {
    border:2px solid black;

}
div {
    text-align: center;

}

.header{
    min-height: 200px;
    margin-bottom: 20px;
    width: 100%;
}

.left-sidebar{
    position: relative;
    width: 200px;
    height: 800px;
    float: left;

}
.content{
    position: relative;
    left: 20px;
    width: 72%;
    height: 800px;
    float: left;
}
.right-sidebar{
    width: 200px;
    position: relative;
    height: 800px;
    float: right;
}
.footer{
    position: absolute;
    min-height: 200px;
    width: 100%;
    top: 1056px;
    }